@use 'media';
@use 'mixins';

.wrapper {
  display: flex;
  gap: 18px;
  background-color: var(--color-blue-light);

  @include media.mobile {
    padding: 10px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.hidden-mobile {
  @include media.mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include media.mobile-above {
    display: none !important;
  }
}
