@use '../../styles/media';

.search-bar {
  @include media.tablet {
    margin-right: 10px;
  }

  &__body {
    display: flex;
    gap: 15px;
    align-items: center;

    @include media.tablet {
      flex-wrap: wrap;
    }

    @include media.mobile {
      flex-direction: column;
    }
  }

  &__button {
    width: 115px;
    padding: 10px 12px;

    font-family: var(--font-family-base);
    font-size: 14px;
    font-weight: 600;

    color: var(--color-blue);
    text-align: center;
    letter-spacing: 0.5px;
    border: 1px solid var(--color-blue);
    border-radius: var(--border-radius-small);
    background-color: var(--color-light);

    &:hover {
      background-color: var(--color-blue-bg-focus);
    }

    @include media.tablet {
      &:hover {
        background-color: var(--color-light);
      }
    }

    @include media.mobile {
      width: 60%;

      &:hover {
        background-color: var(--color-light);
      }
    }
  }
}
