@use '../../styles/media';

.widget {
  min-width: 94px;
  height: 24px;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  @include media.tablet {
    display: none;
  }

  @include media.mobile {
    display: none;
  }
}
